@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

body{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#5D5D81;
}

.bmi-container{
    width:800px;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.5);
    display: flex;
}

.box{
    width: 350px;
    background-image: url("assets/BMI.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
}

.data{
   flex:1;
   padding: 20px;
}

.data > h3{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color:maroon;
    margin-bottom: 20px;
}

.error{
    color:red;
    font-size: 14px;
    margin-bottom:10px
}

.input{
    margin-bottom: 15px;
}

label{
    display:block;
    margin-bottom: 5px;
}

input{
    width:100%;
    padding:10px;
    border: 1px solid #888;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
}

button{
    padding: 10px 20px;
    background-color:rgb(230, 151, 230);
    color:#fff;
    border: none;
    border-radius: 5px;
    font-size:16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ;
}

button:hover{
    background-color:rgb(240, 117, 240) ;
}

.data button:nth-of-type(2){
    background-color:rgb(134, 134, 212);
    margin-left: 10px;
}

.data button:nth-of-type(2):hover{
    background-color:rgb(102, 102, 205);
    color:#fff
}

.result{
    margin-top:30px;
    padding: 10px;
    border: 2px solid maroon;
    border-radius: 5px;
}

.result p{
 margin: 10px 0;
}

.result p:first-child{
    font-weight: bold;
    color:maroon
   }